<div class="container" style="background-color: #CEECF5;">
 <div class="row justify-content-md-center">
    <div class="col-12 col-md-8">
<span class="brand-logo center blue-text text-darken-2"><i class="fa fa-twitter fa-5x"></i></span><br>  
<h1>Novo Usuário</h1>

<%= render 'form', usuario: @usuario %>

<%= link_to 'Voltar', sign_in_path %>
</div>
</div>
</div>    
